.footer {
    background-color: #9e4c3a;;
    width: 100%;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    font-family: "Inter", serif;
}