@font-face {
  font-family: "Renda";
  src: url("./../../resources//fonts//Renda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.experience {
  display: flex;
  flex-direction: column;
  padding-top: 210px;
  background-color: antiquewhite;
  width: 100vw;
  align-items: center;

  h1 {
    font-size: 170px;
    font-family: "Renda", serif;
    letter-spacing: 0.275rem;
    color: #9e4c3a;

        @media screen and (max-width: 768px) {
      font-size: 74px;
      letter-spacing: 0.15rem;
      
    }
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 40%;
    margin-top: 12px;
    margin-bottom: 70px;
    text-align: center;
      color: #171717 !important;

        @media screen and (max-width: 768px) {
      width: 90%;
      font-size: 16px;
    }
  }
}

.container {
  padding: 1rem;
}

.tabList {
  display: flex;
  gap: 1rem;
  position: relative;
}

.tab {
  position: relative;
  padding: 0.5rem 0;
  cursor: pointer;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.contentWrapper {
  margin-top: 1rem;
  position: relative;
  min-height: 100px;
}

.panel {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
}
